.scroll-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #333;
    color: #ffffffe7;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .scroll-button:hover {
    background-color: #ffe600;
  }
  
  .scroll-button:focus {
    outline: none;
  }
  
  .scroll-button .fa {
    font-size: 20px;
  }
  