/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'EYInterstate' !important; }

.custom-progress-bar .mat-progress-bar-primary,
.custom-progress-bar .mat-progress-bar-buffer {
  background-color: yellow !important;
}
