<div class="contact">
    <div class="row vh-66">
      <div class="col-md-6 ps-5 pt-5 pe-5 form-layout">
        <h1 class="text-center contact-title">Contactez <span class="yellow-color">nous</span></h1>
        <div class="justify-content-center ps-5">
          <form class="form-layout">
            <div class="form-group">
              <input type="text" class="form-input" placeholder="Nom et Prénom">
            </div>
            <div class="form-group">   
              <input type="email" class="form-input" placeholder="E-mail">
            </div>
            <div class="form-group">
              <select class="form-input">
                <option class="bg-option" value="">Sélectionnez un sujet</option>
                <option value="ressources">Ressources</option>
                <option value="investissements">Investissements</option>
                <option value="fiscalite">Fiscalité Internationale</option>
                <option value="determinationFiscal">Détermination Fiscal</option>
                <option value="autres">Autres</option>
              </select>
            </div>
            <div class="form-group">
              <textarea class="form-input" rows="4" placeholder="Entrez votre message"></textarea>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end buttonright">
                <button type="submit" class="btn button-style mt-3 mb-5">Envoyer</button>
            </div>
            
          </form>
        </div>
        
      </div>
      <div class="col-md-6 ps-0 pe-0 img-container-layout">
        <div class="contact-img">
          <img  src="../../../assets/images/contact__img.png">
        </div>
      </div>
    </div>

 
</div>